h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
}

.os-drawer {
    position: fixed;
    top: 86px;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--shadow);
    z-index: 2;

    &__rack {
        position: fixed;
        padding: 8px;
        padding-bottom: 12px;
        top: 116px;
        left: 16px;
        width: 280px;
        max-height: 90vh;
        border-radius: 24px;
        background: var(--surface);
    }

    &__label {
        display: block;
        padding: 8px 16px;
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        font-weight: 500;
        color: var(--on-surface);
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 16px;
        height: 48px;
        border-radius: 16px;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.15px;
        color: var(--on-surface);

        &:hover {
            background: var(--surface-variant);
        }

        &:active {
            background: var(--primary-container);
            color: var(--on-primary-container);
        }
    }
}

.os-align {
    &--right {
        justify-content: flex-end;
    }
}

.os-button {
    border: none;
    font-family: 'Roboto', 'Noto Sans', Arial, Helvetica, sans-serif;
    cursor: pointer;

    &[disabled] {
        background: var(--surface-variant);
        color: var(--on-surface-variant);
        pointer-events: none;
        cursor: default;
    }

    &--outlined {
        border: 1px solid var(--outline);
        color: var(--primary);
    }

    &--default {
        background: transparent;
        border-radius: 21px;
        color: var(--primary);

        &:hover, &:focus, &:active {
            box-shadow: none;
            background: var(--primary-container);
            color: var(--on-primary-container);
        }
    }
}

.os-textbox {
    margin-top: 12px;
    padding: 24px;
    background: var(--surface-variant);
    border: none;
    resize: none;
    border-radius: 24px;
    transition: border-radius 0.2s ease-in-out;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;

    &:placeholder-shown {
        border-radius: 64px;
    }

    &::placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::-webkit-scrollbar {
        width: 64px;
    }
    
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 10px 10px var(--on-surface);
        border: solid 28px transparent;
        border-radius: 72px;
    }

    &--fullwidth {
        width: 100%;
    }

    &:hover, &:focus, &:active {
        border-radius: 24px;
    }

    &:focus {
        outline: 2px solid black;
    }
}

.os-dialog {
    position: fixed;
    display: grid;
    place-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--shadow);
    z-index: 10;

    &__container {
        padding: 12px;
        width: 350px;
        height: 520px;
        background-color: var(--surface);
        border-radius: 28px;
        text-align: center;
        
        &-close-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            display: none;
        }

        @media screen and (max-width: 520px) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            
            &-close-btn {
                display: block;
            }
        }

        i {
            margin: 24px;
            color: var(--on-surface-variant);
            font-size: 24px;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 16px;
        }

        p {
            color: var(--on-surface-variant);
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.os-avatar {
    color: #fff;
    height: 36px;
    width: 36px;
    display: grid;
    place-items: center;
    border-radius: 50%;

    &.av_cl_1 {
        background: var(--primary);
    }

    &.av_cl_2 {
        background: var(--secondary);
    }

    &.av_cl_3 {
        background: var(--tertiary);
    }

    &__letter {
        font-size: 16px;
        line-height: 36px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }
}

.os-list {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    max-height: 80vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary);
        border-radius: 5px;
    }

    &__pane {
        padding: 14px 10px;
        margin: 2px 0;
        width: 100%;
        height: 72px;
        display: flex;
        align-items: center;
        gap: 0 16px;
        background: var(--background);
        border-radius: 12px;
        transition: border-radius 0.2s ease-in-out;

        &--colored {
            background: var(--primary-container);
            color: var(--on-primary-container);

            .os-list__pane-text-subheader {
                color: var(--primary);
            }
        }

        &--error {
            background: var(--error);
            color: var(--on-error);

            .os-list__pane-text-subheader {
                color: var(--on-error);
            }
        }

        &:hover, &:focus, &:active {
            border-radius: 36px;
        }

        &-text {
            display: block;

            &-header {
                font-size: 24px;
                line-height: 32px;
                font-weight: 400;
                color: var(--on-background);
                text-decoration: none;
            }

            &-subheader {
                display: block;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
            }
        }
    }
}
