<div class="os-pages__panel">
    
    <div class="os-box">
        <div class="os-box__contained">
            <h1>Objects Helper</h1>
            <p>Welcome to object helper. Before you start, please ensure that you have maptools installed on your computer.</p>

            <p class="os-align os-align--left os-align--padding">
                <a target="_blank" href="https://www.mediafire.com/file/isvotoz7x9jr7n8/maptools.zip/file" class="os-button os-button--tonal os-button--rounded">
                    <i class="material-icons">get_app</i> Download maptools</a>
                <a href="#step-2" class="os-button os-button--filled os-button--rounded">
                    <i class="material-icons">arrow_forward</i> Next</a>
            </p>
        </div>
    </div>

</div>