<div class="os-pages__panel">

    <div class="os-box">
        <div class="os-box__contained" id="step-3">
            <template x-if="objects.length > 0">
                <ul class="os-list">
                    <template x-for="object in objects" :key="object.id">
                        <li class="os-list__pane" :class="object.unavailable ? 'os-list__pane--error' : 'os-list__pane--colored'">
                            <span class="os-avatar" :class="getColorFromName(object.path)">
                                <span class="os-avatar__letter" x-text="object.name.charAt(0)"></span>
                            </span>
                            <div class="os-list__pane-text">
                                <a target="_blank" :href="object.link" class="os-list__pane-text-header" x-text="object.name"></a>
                                <span class="os-list__pane-text-subheader" x-text="object.path"></span>
                            </div>
                        </li>
                    </template>
                </ul>
            </template>
        </div>
    </div>

</div>