<div class="os-pages__panel">

    <div class="os-box">
        <div class="os-box__contained">

            <h3 id="step-2">Paste your report</h3>
            <p>Go to "missing objects" section, and click on "copy to clipboard".
                <br>After this, just paste informations here and we'll do the rest.</p>
            </p>

            <textarea class="os-textbox os-textbox--fullwidth" 
                name="report" id="report" cols="30" rows="10" 
                placeholder="Paste your long report here"
                x-model="report" @paste="pasted"></textarea>

            <p class="os-align os-align--right os-align--padding">
                <button class="os-button os-button--default">Need help ?</button>
                <a href="#step-3" class="os-button os-button--filled os-button--rounded"
                :disabled="!isValidReport()" @click="fetchDb()">
                    <i class="material-icons">arrow_forward</i> Next</a>

            </p>
        </div>
    </div>
</div>