<div class="os-pages__panel">

    <div class="os-box">
        <div class="os-box__contained">

            <h3 id="step-2">Paste your report</h3>
            <p>Go to "missing objects" section, and click on "copy to clipboard".
                <br>After this, just paste informations here and we'll do the rest.</p>
            </p>

            <textarea class="os-textbox os-textbox--fullwidth" 
                name="report" id="report" cols="30" rows="10" 
                placeholder="Paste your long report here"
                x-model="report" @paste="pasted"></textarea>

            <p class="os-align os-align--right os-align--padding">
                <button class="os-button os-button--default" @click="helpDialogOpen=1">Need help ?</button>
                <a href="#step-3" class="os-button os-button--filled os-button--rounded"
                :disabled="!isValidReport()" @click="fetchDb()">
                    <i class="material-icons">arrow_forward</i> Next</a>

            </p>
        </div>
    </div>

    <div class="os-dialog" x-show="helpDialogOpen">
        <div class="os-dialog__container" @click.outside="helpDialogOpen=0">
            <button @click="helpDialogOpen=0" class="os-dialog__container-close-btn os-fab material-icons">close</button>
            <i class="material-icons">help_outline</i>
            <h3>Use maptools</h3>
            <p>Open maptools, select the folder of your maps (located in OMSI folder).</p>
            <img src="assets/maptools.png" alt="Screenshot of maptools program">
        </div>
    </div>
</div>